<!doctype html>
<html>
<head>
    <title>nf-table-paginate</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="../nf-table/nf-table.html" />
    <link rel="import" href="../nf-table-search/nf-table-search.html" />
    <link rel="import" href="nf-table-paginate.html" />
</head>
<body unresolved>
<nf-table-search></nf-table-search>
<table is="nf-table">
    <tr>
        <th num>Number</th>
        <th>Title</th>
    </tr>
    <tr>
        <td>1</td>
        <td>a</td>
    </tr>
    <tr>
        <td>2</td>
        <td>a</td>
    </tr>
    <tr>
        <td>3</td>
        <td>a</td>
    </tr>
    <tr>
        <td>4</td>
        <td>a</td>
    </tr>
    <tr>
        <td>5</td>
        <td>a</td>
    </tr>
    <tr>
        <td>6</td>
        <td>b</td>
    </tr>
    <tr>
        <td>7</td>
        <td>b</td>
    </tr>
    <tr>
        <td>8</td>
        <td>b</td>
    </tr>
    <tr>
        <td>9</td>
        <td>b</td>
    </tr>
    <tr>
        <td>10</td>
        <td>c</td>
    </tr>
    <tr>
        <td>11</td>
        <td>ab</td>
    </tr>
    <tr>
        <td>12</td>
        <td>cd</td>
    </tr>
</table>

<nf-table-paginate page="5"></nf-table-paginate>

</body>
</html>