<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../nf-iconset/nf-iconset.html" />
<link rel="import" href="../nf-paginate/nf-paginate.html" />
<script src="../../js/asyncNode.js"></script>

<polymer-element name="nf-table-paginate" attributes="table, page" extends="nf-paginate">

    <template>
        <link rel="stylesheet" href="nf-table-paginate.css" />
        <button id="previous" class="is-disabled">Prev</button>
        <button id="next" class="is-disabled">Next</button>
    </template>

    <script>

        (function () {

            //'use strict'; can't use it due to this.super();

            Polymer({

                publish: {

                    page: {
                        value: 5,
                        reflect: true
                    }

                },

                domReady: function() {

                    this.paginationIndex = 0;
                    this.getTable();
                    this.assignEventHandlers();

                },

                processButtons: function() {

                    if (this.nfData &&
                        this.nfData.filteredData) {

                        if ( this.nfData.filteredData.length > (this.page * (this.paginationIndex + 1) )) {

                            this.$.next.classList.remove('is-disabled');

                        } else {

                            this.$.next.classList.add('is-disabled');

                        }

                        if (this.paginationIndex > 0) {

                            this.$.previous.classList.remove('is-disabled');

                        } else {

                            this.$.previous.classList.add('is-disabled');

                        }

                    }

                },

                getTable: function() {

                    var self = this;

                    nf.asyncNode.get(this.table, 'table[is=nf-table]').then(function(table) {

                        table.getNfData().then(function(nfData) {

                            self.setup(nfData);
                            self.processButtons();

                        });

                    });

                },

                reset: function(){
                    this.paginationIndex = 0;
                    this.processButtons();
                },

                // this function is deterministic, it basically returns the relevant 'slice' of data but it does not
                // 'update' the pagination 'pointer'
                paginateFunction: function(filteredData) {

                    var start = this.page * this.paginationIndex,
                        end = start + this.page;

                    return filteredData.slice(start, end);


                },

                assignEventHandlers: function() {

                    var self = this;

                    this.$.next.addEventListener('click', function(e) {

                        if (self.nfData &&
                            self.nfData.filteredData &&
                            self.nfData.filteredData.length &&
                            self.nfData.filteredData.length > (self.page * (self.paginationIndex + 1)) //ensure next page has data
                        ){

                            self.paginationIndex++;
                            self.fire('update');

                        }

                        self.processButtons();

                    });

                    this.$.previous.addEventListener('click', function(e) {

                        if (self.paginationIndex > 0) {
                            self.paginationIndex--;
                            self.fire('update');
                        }

                        self.processButtons();

                    });

                    this.super();

                }


            });

        })();
    </script>

</polymer-element>