<!doctype html>
<html>
<head>
    <title>nf-img demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="nf-img.html" />
    <style>
        nf-img{
            outline: 1px solid red;
        }

        #two {
            width: 400px;
            height: 200px;
        }
    </style>
</head>
<body unresolved>

<nf-img src="//farm6.staticflickr.com/5578/14989405020_cc5991e37d_c.jpg" width="200"></nf-img>
<nf-img id="two" src="https://farm9.staticflickr.com/8570/16222041194_7773722dd5_z.jpg" width="200" cssed></nf-img>

<script>

    var nfImg = document.querySelector('nf-img');

    window.setTimeout(function() {
        nfImg.setAttribute('src','https://farm9.staticflickr.com/8744/16845335565_76983713b2_b.jpg');
    }, 1000);

</script>
</body>