<!doctype html>
<html>
<head>
    <title>nf-select demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="nf-select.html" />
</head>
<body unresolved>

<nf-select placeholder="Search">
    <select multiple>
        <option value="value1">Value 1</option>
        <option value="value2">Value 2</option>
        <option value="value3">Value 3</option>
        <option value="value4">Value 4</option>
        <option value="value5">Value 5</option>
        <option value="value6">Value 6</option>
        <option value="value7">Value 7</option>
        <option value="value8">Value 8</option>
        <option value="value9">Value 9</option>
        <option value="value10">Value 10</option>
        <option value="value11">Value 11</option>
        <option value="value12">Value 12</option>
        <option value="value13">Value 13</option>
        <option value="value14">Value 14</option>
        <option value="value15">Value 15</option>
        <option value="value16">Value 16</option>
        <option value="value17">Value 17</option>
        <option value="value18">Value 18</option>
    </select>
</nf-select>

</body>
</html>