<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../nf-iconset/nf-iconset.html" />

<polymer-element name="nf-select" attributes="placeholder, regex, disabled">

    <template>
        <link rel="stylesheet" href="nf-select.css" />
        <input id="search" placeholder="{{placeholder}}" disabled?={{disabled}} autocomplete="off">
        <nf-icon name="close" id="clear" class="is-button"></nf-icon>
        <nf-icon name="search" id="searchIcon"></nf-icon>
        <img id="loadingIcon" src="../../img/loading-white.gif" width="20" height="20"/>
        <select id="filteredSelect" multiple disabled?={{disabled}}>
            <template id="tmplOptions" repeat="{{option in filteredOptions}}">
                <option disabled?="{{option.disabled}}" value="{{option.value}}" selected?="{{option.selected}}" data-index="{{option.index}}">{{option.text}}</option>
            </template>
        </select>
        <span id="invalidRegexMessage" class="is-hidden">Invalid Regex</span>
    </template>

    <script>
        (function () {

            'use strict';

            var keyDownCode = 40,
                keyUpCode = 38,
                keyCtrl = 17,
                keyFCode = 70;

            Polymer({

                regex: true,
                disabled: false,

                domReady: function () {

                    this.select = this.$.filteredSelect;
                    this.timeoutId = 0;
                    this.init();

                },

                search: function(skipClear) {

                    var options = this.source.options,
                        needToFireSourceChange = false,
                        filteredOptions = [],
                        self = this;

                    if (!skipClear) {
                        this.clearAllCurrentSelections();
                    }

                    [].forEach.call(options, function(option) {

                        if ( self.matchTest(option, self.query) ) {

                            filteredOptions.push(option);

                        } else if (option.selected) {

                            needToFireSourceChange = true;
                            option.selected = false;

                        }

                    });

                    this.filteredOptions = filteredOptions;

                    if (needToFireSourceChange) {

                        var index,
                            refOption;

                        [].forEach.call(self.select.options, function(option) {

                            index = parseInt(option.dataset.index, 10);
                            refOption = self.source.options[index];

                            if (option.selected !== refOption.selected) {
                                option.selected = refOption.selected;
                            }

                        });

                        this.fireSourceChange();
                    }

                },

                matchTest: function(option, query) {

                    var match = false,
                        pattern;

                    if (this.regex) {

                        try {

                            pattern = new RegExp(query, 'i');

                            if ( pattern.test(option.textContent) ) {
                                match = true;
                            }

                            this.$.search.classList.remove('is-invalid');
                            this.$.invalidRegexMessage.classList.add('is-hidden');

                        } catch(e) {

                            // expected, sometimes user will type invalid regex
                            this.$.search.classList.add('is-invalid');
                            this.$.invalidRegexMessage.classList.remove('is-hidden');

                        }

                    } else if (typeof query !== 'undefined') {

                        if (option.textContent.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                            match = true;
                        }

                    }

                    return match;

                },

                getQuery: function() {

                    return this.$.search.value.trim();

                },

                createModel: function() {

                    var options = this.source.options,
                        model = [];

                    [].forEach.call(options, function(option, index) {
                        model.push({
                            disabled: option.disabled,
                            selected: option.selected,
                            value: option.value,
                            text: option.textContent,
                            index: index
                        });
                    });

                    this.model = model;

                },

                setDefaultFilteredOptions: function() {

                    var options = this.source.options,
                        filteredOptions = [];

                    [].forEach.call(options, function(option) {
                        filteredOptions.push(option);
                    });

                    this.filteredOptions = filteredOptions;

                },

                init: function() {

                    this.source = this.querySelector('select');

                    this.createModel();

                    if ( this.getQuery() ) {

                        this.search(true);

                    } else {

                        this.setDefaultFilteredOptions();

                    }

                    this.updateView();

                    if ( !this.runOnlyOnceGuard ) {

                        this.runOnlyOnceGuard = true;

                        this.addEventHandlers();

                        this.classList.add('is-ready');

                    }

                },

                clearAllCurrentSelections: function() {

                    while(this.select.selectedOptions.length){
                        this.select.selectedOptions[0].selected = false;
                    }

                    this.fireSelectChange();

                },

                updateView: function() {

                    var model = this.model;

                    this.filteredOptions.forEach(function(option) {
                        option.selected = model[option.index].selected;
                    });

                    this.$.tmplOptions.iterator_.updateIteratedValue();

                },

                updateSource: function() {

                    var model = this.model;

                    [].forEach.call(this.source.options, function(option, index) {

                        option.selected = model[index].selected;

                    });

                    this.fireSourceChange();

                },

                updateModelFromView: function() {

                    var model = this.model;

                    model.forEach(function(option) {
                        option.selected = false;
                    });

                    [].forEach.call(this.select.selectedOptions, function(option) {

                        var index = parseInt(option.dataset.index, 10);
                        model[index].selected = true;

                    });

                    //model updates should be automatically reflected back to source
                    this.updateSource();
                },

                fireSourceChange: function() {

                    var changeEvent = new Event('change');
                    this.source.dispatchEvent( changeEvent );

                },

                fireSelectChange: function() {
                    var changeEvent = new Event('change');
                    this.select.dispatchEvent( changeEvent );
                },

                addEventHandlers: function () {

                    var delay = 270,
                        self = this;

                    var searchChangeCallback = function(e) {

                        window.clearTimeout(self.timeoutId);

                        self.timeoutId = window.setTimeout(function() {

                            self.query = self.getQuery();
                            self.fire('querychanged', {query: self.query});
                            self.search();

                        }, delay);

                        if (e.keyCode === keyCtrl ||
                            e.keyCode === keyDownCode ||
                            e.keyCode === keyUpCode ) {
                            window.clearTimeout(self.timeoutId);
                        }

                        if (e.keyCode === keyDownCode) {

                            self.select.focus();

                            if (self.select.selectedIndex === -1 && self.select.options.length) {
                                self.select.options[0].selected = true;
                                self.fireSelectChange();
                            }

                        }

                    };

                    this.$.search.addEventListener('keyup', searchChangeCallback, false);
//                    this.$.search.addEventListener('change', searchChangeCallback, false); //fallback for changes via context menu (e.g right click -> paste)

                    this.select.addEventListener('keydown', function(e) {

                        if (!e.shiftKey && e.keyCode === keyUpCode && this.selectedIndex === 0) {

                            self.$.search.focus();

                            if (self.select.options.length) {

                                // need the setTimeout in order to remove the select
                                window.setTimeout(function() {
                                    self.select.options[0].selected = false;
                                    self.fireSelectChange();
                                }, 0);

                            }

                        }

                    }, false);

                    this.select.addEventListener('keyup', function(e) {

                        if (e.ctrlKey && e.keyCode === keyFCode) {

                            self.$.search.focus();

                        }

                    }, false);

                    this.select.addEventListener('change', function() {

                        self.updateModelFromView();

                    }, false);

                    this.$.clear.addEventListener('click', function() {

                        while(self.select.selectedOptions.length) {
                            self.select.selectedOptions[0].selected = false;
                        }

                        self.fireSelectChange();
                        self.$.search.value = '';
                        self.query = '';
                        self.fire('querychanged', {query: self.query});
                        self.search();
                        self.$.search.focus();

                    }, false);

                    //observing for changes to nf-select's child
                    this.observer = new MutationObserver(function(mutations) {

                        window.clearTimeout(self.timeoutId);
                        self.init();

                    });

                    this.observer.observe(this, {childList: true, attributes: true, subtree: true});

                }

            });

        })();
    </script>

</polymer-element>
