:host {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    position: relative;
    min-width: 240px;
    overflow: hidden;
}

input {
    width: 100%;
    margin: 0;
}

/*fixes width change in Safari/FF when there are no matches*/
:host(.is-ready) input {
    display: block;
}

select {
    width: 100%;
    height: calc(100% - 33px);
    padding: 0;
    margin: 0;
}

ol {
    border: 1px solid #D9D9D9;
    padding: 0.5em 0.6em;
    margin: 0;
    background-color: #ccc;
}

li {
    list-style: none;
    background-color: #ccc;
}

input,
li,
select {
    font-size: inherit;
    font-family: inherit;
}

#search {
    padding: 0.5em 30px;
}

#clear {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    right: 3px;
}


#loadingIcon {
    position: absolute;
    top: 6px;
    left: 5px;
    display: none;
}

:host(.is-loading) #loadingIcon,
:host([loading]) #loadingIcon {
    display: inline-block;
}

#searchIcon {
    position: absolute;
    top: 9px;
    left: 8px;
    color: #777;
    pointer-events: none;
}

#invalidRegexMessage {
    position: absolute;
    color: #b94a48;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* from styleguide */
.is-hidden {
    display: none;
}

input,
select {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #6A6A6A;
}

input:focus,
select:focus {
    outline: 0;
    border-color: #129FEA;
}

input::placeholder {
    color: #C4C4C4;
    font-weight: 300;
}

input.is-invalid {
    color: #b94a48;
    border-color: #e9322d;
}