:host {
    display: inline-block;
    width: 124px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    width: 258px;
}

#container {
    position: absolute;
    z-index: 9999;
}

.is-hidden {
    display: none;
}

.pika-lendar + div {
    clear: both;
}

#input {
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    font-weight: 100;
    font-size: inherit;
    font-family: inherit;
}
input::-moz-placeholder {
    font-weight: 100;
    font-size: inherit;
    font-family: inherit;
}
input:-ms-input-placeholder {
    font-weight: 100;
    font-size: inherit;
    font-family: inherit;
}
input::placeholder {
    font-weight: 100;
    font-size: inherit;
    font-family: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input.is-invalid {
    color: #b94a48;
    outline-color: #e9322d !important;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

/* fixing style for markup created by polyfill for nf-date-picker */
nf-date-picker .pika-table,
nf-date-picker .pika-time {

    width: 100% !important;
    margin: 0 !important;
    border-top: inherit !important;

}

nf-date-picker .pika-time select {
    padding: 0;
}