<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../nf-filter/nf-filter.html" />
<link rel="import" href="../nf-iconset/nf-iconset.html" />

<!--TODO: disabled, readonly, pattern; Also a 'clear' button caseSensitive?-->
<polymer-element name="nf-table-search" attributes="placeholder, table" extends="nf-filter">

    <template>
        <link rel="stylesheet" href="nf-table-search.css" />
        <input id="input" placeholder="{{placeholder}}" />
        <nf-icon id="searchIcon" name="search"></nf-icon>
        <nf-icon id="clearIcon" name="close" class="is-button"></nf-icon>
    </template>

    <script>
        (function () {

            'use strict';

            Polymer({

                domReady: function() {

                    this.timeoutId = 0;
                    this.getTable();
                    this.assignEventHandlers();

                },

                getTable: function() {

                    var self = this,
                        retryDelay = 300,
                        selector,
                        table;

                    if (this.table) {

                        if (typeof this.table === "string") {

                            selector = this.table.indexOf('#') === 0 ? this.table : "#" + this.table;
                            table = document.querySelector(selector);

                        } else if (typeof this.table === "object") {

                            table = this.table;

                        }


                    } else {

                        table = document.querySelector("table[is=nf-table]");

                    }

                    if (table) {

                        table.getNfData().then(function(nfData) {
                            self.setup(nfData);
                        });

                    } else {

                        // relevant table has not yet been found, retry in a little bit (probably template has not run yet)
                        window.setTimeout(function() {

                            self.getTable();

                        }, retryDelay);

                    }

                },

                assignEventHandlers: function() {

                    var delay = 270,
                        self = this;

                    this.$.input.addEventListener('keyup', function() {

                        window.clearTimeout(self.timeoutId);

                        self.timeoutId = window.setTimeout(function() {

                            self.query = self.$.input.value.trim().toLowerCase();
                            self.fire('update');

                        }, delay);

                    }, false);

                    this.$.clearIcon.addEventListener('click', function() {
                        self.$.input.value = '';
                        self.query = '';
                        self.fire('update');
                        self.$.input.focus();
                    }, false);

                },

                doesItemMatchQuery: function(itemObj) {

                    var isMatch = false,
                        itemVal,
                        item;

                    item = itemObj.data;

                    if (typeof item === "number") {
                        itemVal = item.toString();
                    } else {
                        itemVal = item.toLowerCase();
                    }

                    if ( itemVal.indexOf(this.query) !== -1 ) {

                        isMatch = true;

                    }

                    return isMatch;

                },

                filterFunction: function(row) {

                    var matchFound = false,
                        self = this,
                        l = row.length,
                        i = 0;

                    for (i; i < l; i++) {

                        if ( self.doesItemMatchQuery(row[i]) ) {
                            matchFound = true;
                            break;
                        }

                    }

                    return matchFound;

                },

                filter: function(data) {

                    var retVal;

                    if (Array.isArray(data)) {
                        retVal = data.filter( this.filterFunction, this );
                    } else {
                        retVal = [];
                    }

                    return retVal;

                },

                getQuery: function(){
                    return this.query;
                },

                placeholder: "Search"

            });

        })();
    </script>

</polymer-element>