<!doctype html>
<html>
<head>
    <title>nf-collapsable-table demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="../nf-table/nf-table.html" />
    <link rel="import" href="../nf-table-search/nf-table-search.html" />
    <link rel="import" href="nf-table-live-count.html" />
</head>
<body unresolved>

<h1><nf-table-live-count></nf-table-live-count></h1>

<nf-table-search placeholder="Search..."></nf-table-search>

<table is="nf-table">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th num>Completed</th>
    </tr>
    <tr>
        <td>John</td>
        <td>Tregoning</td>
        <td>9%</td>
    </tr>
    <tr>
        <td>Lisa</td>
        <td>Tabs</td>
        <td>13%</td>
    </tr>
    <tr>
        <td>Alex</td>
        <td>Treg</td>
        <td>1%</td>
    </tr>
</table>

</body>
</html>