/* colour variables
-----------------------------*/
$white  =  #ffffff;
$white1 =  $white;
$white2 =  #F8F8F8;

$black  =  #000000;

$gray   =  #333333;
$gray1  =  $gray;
$gray2  =  #6A6A6A;
$gray3  =  #9A9A9A;
$gray4  =  #C4C4C4;
$gray5  =  #E1E1E1;

$red    =  #B6272B;
$blue   =  #478CC8;

$green  =  #8DAC71;
$green1 =  $green;
$green2 =  #C0D7A0;

$yellow =  #d2bc5e;