/* font weight scale
-----------------------------*/
$nf-bold   = 600;
$nf-normal = 400;
$nf-light  = 300;

/* font size scale
-----------------------------*/
$f-size-plus-4 = 36px;
$f-size-plus-3 = 30px;
$f-size-plus-2 = 24px;
$f-size-plus-1 = 18px;
$f-size        = 14px;
$f-size-sub-1  = 12px;

/* letter spacing scale
-----------------------------*/


/* line height scale
-----------------------------*/

