/* margin-scale absolute
-----------------------------*/
$margin-none    = 0;
$margin-micro   = 2px;
$margin-small   = 5px;
$margin-base    = 7px;
$margin-large   = 20px;
$margin-larger  = 30px;
$margin-jumbo   = 40px;


/* margin-scale relative
-----------------------------*/
$margin-0   = $margin-none;
$margin-m2  = $margin-micro;
$margin-m1  = $margin-small;
$margin     = $margin-base;
$margin-p1  = $margin-large;
$margin-p2  = $margin-larger;
$margin-p3  = $margin-jumbo;


/* padding-scale-absolute
-----------------------------*/
$padding-none    = 0;
$padding-micro   = 2px;
$padding-small   = 5px;
$padding-base    = 7px;
$padding-large   = 20px;
$padding-larger  = 30px;
$padding-jumbo   = 40px;


/* margin-scale relative
-----------------------------*/
$padding-0   = $padding-none;
$padding-m2  = $padding-micro;
$padding-m1  = $padding-small;
$padding     = $padding-base;
$padding-p1  = $padding-large;
$padding-p2  = $padding-larger;
$padding-p3  = $padding-jumbo;