<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../nf-iconset/nf-iconset.html" />

<script src="../../js/utils.js"></script>

<polymer-element name="nf-tags" attributes="tags, placeholder">

    <template>
        <link rel="stylesheet" href="nf-tags.css">
        <div id="wrapper">
            <template repeat="{{tag in tags}}">
                <span class="nf-pill">{{tag}}
                    <nf-icon name="close" class="is-button"></nf-icon>
                </span>
            </template>
            <input id="input" placeholder="{{placeholder}}"/>
        </div>
    </template>

    <script>
        (function () {

            'use strict';

            var enterKeyCode = 13;

            Polymer({

                tags: [],
                tagSet: new Set(),
                placeholder: '',

                domReady: function() {
                    this.addEventHandlers();
                    this.tagSet = nf.utils.arrayToSet(this.tags);
                },

                addEventHandlers: function() {

                    var self = this;

                    this.$.wrapper.addEventListener('click', function(e) {

                        if (e.target.classList.contains('is-button')) {

                            self.removeTag(e.target.parentNode.textContent);

                        } else {
                            self.$.input.focus();
                        }

                    }, false);

                    this.$.input.addEventListener('keyup', function(e) {

                        if (e.keyCode === enterKeyCode) {

                            self.addTag(this.value);
                            this.value = ""

                        }

                    }, false);

                },

                addTag: function(tag) {

                    if (typeof tag !== 'undefined' && tag.trim().length) {
                        this.tagSet.add(tag.trim());
                        this.tags = nf.utils.setToArray(this.tagSet);
                    }

                },

                removeTag: function(tag) {

                    if (typeof tag !== 'undefined') {

                        this.tagSet.delete(tag.trim());
                        this.tags = nf.utils.setToArray(this.tagSet);

                    }

                },

                setTags: function(tags) {

                    var self = this;

                    if (tags && tags instanceof Array) {

                        this.tags = [];
                        this.tagSet = new Set();

                        tags.forEach(function(tag){

                            self.addTag(tag.toString());

                        });

                    }

                }

            });

        }());
    </script>

</polymer-element>
