<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html" />
<link rel="import" href="../nf-tab/nf-tab.html" />

<polymer-element name="nf-submenu" extends="paper-tabs">

    <template>
        <link rel="stylesheet" href="nf-submenu.css" />
        <shadow></shadow>
    </template>

    <script>
        (function () {

            //'use strict'; can't use it due to this.super();

            Polymer({

                selected: 0,

                attached: function() {

                    var self = this;

                    this.addEventListener('core-activate', function(e) {
                        self.fire('submenuchanged', {
                            'selectedIndex': self.selected,
                            'selectedItem': self.selectedItem
                        });
                    }, false);

                    this.super();

                }

            });

        })();
    </script>
</polymer-element>
