<link rel="import" href="../bower_components/polymer/polymer.html"/>
<link rel="import" href="../bower_components/core-collapse/core-collapse.html"/>

<polymer-element name="nf-collapsable" extends="core-collapse">
<template>
    <link rel="stylesheet" href="nf-collapsable.css"/>
    <shadow></shadow>
</template>
<script>
    (function () {

        //'use strict'; can't use it due to this.super();

        Polymer({

            attached: function () {

                var self = this;

                this.addEventListener('core-resize', function () {
                    self.fire('nf-resize-finished', {'opened': self.opened});
                }, false);

                this.addEventListener('core-collapse-open', function () {
                    self.fire('nf-resize-started', {'opened': self.opened});
                }, false);

                this.super();

            }

        });

    })();
</script>
</polymer-element>
