:host {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    display: block;
    height: 50px;
}

#tabs {
    display: inline-block;
    height: 50px;
}

#appName {
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 1px;
    padding: 0 20px;
    cursor: default;
    float: left;
    overflow: hidden;
    margin-top: 10px;
}

paper-menu-button {
    display: none;
    float: left;
    margin-top: 5px;
}

nf-tab::shadow .tab-content {
    margin: 0;
    padding: 0;
}

#tabs nf-tab  a {
    padding: 0 20px;
    display: inline-block;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

paper-menu-button a {
    color: #333;
}

a,
a:hover{
    text-decoration: none;
}

paper-item {
    color: #333;
    padding: 0;
    margin: 0;
}

/* working around a bug in the polyfill http://bit.ly/14A9jgV */
polyfill-next-selector { content: ':host > ul' }
::content > ul {
    display: none;
}

:host(.is-narrow-mode) #tabs {
    display: none;
}

:host(.is-narrow-mode) paper-menu-button {
    display: block;
}

:host(.is-narrow-mode) #appName {
    float: right;
}

nf-icon {
    margin-left: 10px;
    margin-top: 12px;
    outline: none;
}

nf-icon:focus {outline:0;}