<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/core-icon/core-icon.html" />

<polymer-element name="nf-icon" extends="core-icon" attributes="name">

    <template>
        <link rel="stylesheet" href="nf-icon.css" />
        <shadow></shadow>
    </template>

    <script>
        (function() {

            'use strict';

            Polymer({
                nameChanged: function() {

                    if (this.name.indexOf(':') === -1) {
                        this.icon = 'nf-iconset:' + this.name;
                    } else {
                        this.icon = this.name;
                    }

                }
            });

        }());
    </script>

</polymer-element>
