<!doctype html>
<html>
<head>
    <title>nf-accordion demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="nf-accordion.html"/>
    <style>
        nf-accordion {
            background: #ccc;
        }

        header,
        .nf-accordion-header{
            background-color: #555;
            color: #fff;
            padding: 5px;
        }

        .nf-toggler{
            text-decoration: underline;
        }

        .nf-accordion-header.nf-toggler{
            text-decoration: none;
        }

    </style>
</head>
<body unresolved>

<section>
    <nf-accordion>
        <header>Click <span class="nf-toggler">here</span> ... (this uses the header tag)</header>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.
    </nf-accordion>
</section>

<hr />

<section>
    <nf-accordion>
        <div class="nf-accordion-header">Click <span class="nf-toggler">here</span> too ... (this uses the .nf-accordion-header classname)</div>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.
    </nf-accordion>
</section>

<hr />

<section>
    <nf-accordion>
        <div class="nf-accordion-header nf-toggler">or click this whole bar</div>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.
    </nf-accordion>
</section>

<hr />

<nf-accordion closed="true">
    <header>Click <span class="nf-toggler">here</span> ... this one is collapsed by default (sets the 'closed' attribute to true)</header>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum.
</nf-accordion>

<section>
    <h3>This accordion keeps state</h3>
    <nf-accordion persist="foo">
        <header>Click <span class="nf-toggler">here</span> ... (this uses the header tag)</header>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.
    </nf-accordion>
</section>

<hr />

</body>
</html>