:host {
    display: block;
}

::content .nf-toggler {
    cursor: pointer;
}

::content > header,
::content .nf-accordion-header{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}