<!doctype html>
<html>
<head>
    <title>nf-table demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="nf-table.html" />
</head>
<body unresolved>

<table is="nf-table" ember="ember">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Number as text</th>
        <th num>Number</th>
        <th num="2">Number with max 2 decimal places </th>
        <th num="exponential">Number in exponential notation</th>
        <th date>Date</th>
        <th date="YYYY">Date</th>
        <th date="YYYY-MM-DD">Date</th>
    </tr>
    <tr>
        <td>John</td>
        <td><span data-ember-action="324">YO</span></td>
        <td>01.333</td>
        <td>01.333</td>
        <td>01.333</td>
        <td>01.333</td>
        <td>1426525439209</td>
        <td>2014-03-16T17:16:33.415Z</td>
        <td>1426526237691</td>
    </tr>
    <tr>
        <td>Lisa</td>
        <td>Tabs</td>
        <td>3.9999999</td>
        <td>3.9999999</td>
        <td>3.9999999</td>
        <td>3.9999999</td>
        <td>1426525439209</td>
        <td>2015-03-16T17:16:33.415Z</td>
        <td>1426526232691</td>
    </tr>
    <tr>
        <td>Alex</td>
        <td>Treg</td>
        <td>11.2</td>
        <td>11.2</td>
        <td>11.2</td>
        <td>11.2</td>
        <td>1426525439209</td>
        <td>2012-08-16T17:16:33.415Z</td>
        <td>1426526254134</td>
    </tr>
    <tr>
        <td>Laura</td>
        <td>Panero</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <td>1426525439209</td>
        <td>2015-03-16T17:16:33.415Z</td>
        <td>2015-03-16T17:16:33.415Z</td>
    </tr>
</table>
<script>
    document.body.addEventListener('click', function(e){
        console.log('click', e.target);
    }, false);
</script>
</body>
</html>