<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../nf-data/nf-data.html" />
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../../js/utils.js"></script>

<polymer-element name="nf-table" extends="table" attributes="fixed, striped, ember">

    <template>
        <link rel="stylesheet" href="nf-table.css">
        <nf-data id="data"></nf-data>
        <table id="table" class="{{ {'is-fixed': fixed, 'is-striped': striped} | tokenList }}">
            <thead id="thead"></thead>
            <tbody id="tbody"></tbody>
        </table>
    </template>

    <script>

        (function () {

            'use strict';

            var fragmentFromString = function(strHTML) {
                var temp = document.createElement('template');
                temp.innerHTML = strHTML;
                return temp.content;
            };

            Polymer({

                publish: {
                    fixed: false,
                    striped: false
                },

                init: function() {

                    this.nfData = this.$.data;
                    this.colDataType = [];
                    this.colNumberFormat = [];
                    this.colDateFormat = [];

                    //working around a bug in the polyfill http://bit.ly/14A9jgV
                    this.source = fragmentFromString(this.innerHTML);

                    this.validateTableStructure();
                    this.extractHeaderData();
                    this.extractBodyData();
                    this.generateTable();

                    if (!this.runOnlyOnceGuard) {
                        this.runOnlyOnceGuard = true;
                        this.addEventHandlers();
                    }

                },

                getData: function() {
                    return {
                        header: this.headerData,
                        body: this.nfData.data
                    }
                },

                validateTableStructure: function() {
                    //TODO
                    // <= 1 theader
                    // <= 1 theader tr
                    // >= 1 th
                },

                extractHeaderData: function() {

                    var self = this,
                        numberFormat,
                        dateFormat,
                        thCollection = this.source.querySelectorAll('th');

                    this.headerData = [];

                    [].forEach.call(thCollection, function(th) {

                        self.headerData.push({
                            data: th.textContent,
                            html: th.innerHTML
                        });

                        numberFormat = th.getAttribute('num');
                        dateFormat = th.getAttribute('date');

                        //extracting data type hints/declarations
                        if (typeof numberFormat === 'string') {

                            self.colDataType.push('number');
                            self.colNumberFormat.push(numberFormat);
                            self.colDateFormat.push(null);

                        } else if (typeof dateFormat === 'string') {

                            self.colDataType.push('date');
                            self.colDateFormat.push(dateFormat);
                            self.colNumberFormat.push(null);

                        } else {

                            self.colDataType.push('string');
                            self.colNumberFormat.push(null);
                            self.colDateFormat.push(null);

                        }

                    });

                },

                sortDataByColumn: function (index) {

                    var desc = false,
                        dataType = this.colDataType[index],
                        alpha,
                        alphaDesc,
                        num,
                        numDesc,
                        sortFunction;

                    // Sorting functions:

                    alpha = function (a, b) {

                        if (a[index].data > b[index].data) {
                            return 1;
                        }

                        if (a[index].data < b[index].data) {
                            return -1;
                        }

                        return 0;

                    };

                    alphaDesc = function (a, b) {

                        if (a[index].data < b[index].data) {
                            return 1;
                        }

                        if (a[index].data > b[index].data) {
                            return -1;
                        }

                        return 0;

                    };

                    num = function (a, b) {
                        return a[index].data - b[index].data;
                    };

                    numDesc = function (a, b) {
                        return b[index].data - a[index].data;
                    };

                    // ascertaining sort order
                    if (this.dataIndexSorted === index) {
                        desc = true;
                        this.dataIndexSorted = null;
                    } else {
                        this.dataIndexSorted = index;
                    }

                    // assigning appropriate sort function
                    if (desc && (dataType === 'number' || dataType === 'date')) {
                        sortFunction = numDesc;
                    } else if(!desc && (dataType === 'number' || dataType === 'date')) {
                        sortFunction = num;
                    } else if (desc && dataType === 'string'){
                        sortFunction = alphaDesc;
                    } else {
                        sortFunction = alpha;
                    }

                    this.nfData.sort(sortFunction);

                },

                generateTableBody: function() {

                    var docFrag = document.createDocumentFragment(),
                        paginatedData = this.nfData.getPaginatedData();

                    paginatedData.forEach(function(data) {

                        var tdHTMLCollection = data.map(function(item) {
                            return item.html;
                        });

                        docFrag.appendChild(
                                nf.utils.createRow(tdHTMLCollection, true)
                        );

                    });

                    this.$.tbody.innerHTML = '';
                    this.$.tbody.appendChild(docFrag);

                },

                generateTableHeader: function() {

                    var docFrag = document.createDocumentFragment();

                    var thHTMLCollection = this.headerData.map(function(item) {
                        return item.html;
                    });

                    docFrag.appendChild(
                        nf.utils.createRow(thHTMLCollection, true, true)
                    );

                    this.$.thead.innerHTML = '';
                    this.$.thead.appendChild(docFrag);

                },

                generateTable: function() {

                    this.generateTableHeader();
                    this.generateTableBody();

                },

                formatDate: function(dateString, index) {

                    var m = moment(dateString),
                        dateFormat = this.colDateFormat[index] || 'MM-DD-YYYY HH:mm',
                        formattedDate = "";

                    if ( dateString && m.isValid() ) {

                        formattedDate = m.format(dateFormat);

                    }

                    return formattedDate;

                },

                formatNumber: function(number, index) {

                    var formattedNumber = number,
                        numberFormat = this.colNumberFormat[index],
                        multiplier;

                    if (numberFormat === 'exponential') {

                        formattedNumber = number.toExponential();

                    } else if (numberFormat) {

                        //infers number format is fix number of decimal places
                        multiplier = Math.pow(10, parseInt( numberFormat, 10 ));
                        formattedNumber = Math.round( number * multiplier ) / multiplier;

                    }

                    return formattedNumber;

                },

                extractBodyData: function() {

                    var trCollection = this.source.querySelectorAll('tbody > tr'),
                        data = [],
                        self = this,
                        row;

                    [].forEach.call(trCollection, function(tr) {

                        row = [];

                        [].forEach.call(tr.querySelectorAll('td'), function(td, index) {

                            var cellData = td.textContent,
                                cellView = td.innerHTML;

                            if (cellData && self.colDataType[index] === 'number') {

                                cellData = parseFloat(cellData);
                                cellView = self.formatNumber(cellData, index)

                            } else if (cellData && self.colDataType[index] === 'date') {

                                cellData = isNaN(cellData) ? new Date(cellData).getTime() : parseInt(cellData, 10);
                                cellView = self.formatDate(cellData, index);

                            }

                            row.push({
                                data: cellData,
                                html: cellView
                            });

                        });

                        if (row.length) {
                            data.push(row);
                        }

                    });

                    if (this.nfData.initialised) {

                        this.nfData.setData(data);
                        this.generateTableBody();

                    } else {

                        this.nfData.init(data);

                    }

                    this.fire('nfdataisready');

                },


                addEventHandlers: function() {

                    var self = this;

                    //TODO: make this keyboard friendly
                    this.$.table.addEventListener('click', function(e) {

                        var node = e.target,
                            clickEvent,
                            proxyNode;

                        if (node && node.nodeName === 'TH') {

                            self.sortDataByColumn(node.cellIndex);
                            self.fire('sort', {index: node.index});

                        }

                        if (self.ember && node) {

                            proxyNode = node;

                            while (proxyNode.parentNode) {

                                if (proxyNode.getAttribute('data-ember-action')) {

                                    clickEvent = new Event('click', {bubbles: true});
                                    proxyNode = self.querySelector('[data-ember-action="' + proxyNode.getAttribute('data-ember-action') + '"]');

                                    if (proxyNode) {
                                        proxyNode.dispatchEvent(clickEvent);
                                        e.stopPropagation();
                                    }

                                    break;

                                } else {

                                    proxyNode = proxyNode.parentNode;

                                }

                            }


                        }

                    }, false);

                    this.nfData.addEventListener('filtereddatachanged', function() {

                        self.generateTableBody();

                    }, false);

                    //observing for changes to the table element
                    this.observer = new MutationObserver(function(mutations) {

                        self.init();

                    });

                    this.observer.observe(this, {childList: true, attributes: false, subtree: true});

                },

                getNfData: function() {

                    var self = this;

                    return new Promise(function(resolve, reject) {

                        if (self.nfData) {

                            resolve(self.nfData);

                        } else {

                            self.addEventListener('nfdataisready', function() {
                                resolve(self.nfData);
                            }, false);

                        }

                    });

                },

                domReady: function() {
                    this.init();
                }

            });

        })();
    </script>

</polymer-element>
