<link rel="import" href="../bower_components/polymer/polymer.html" />

<polymer-element name="nf-switch" attributes="switched, persist">

    <template>
        <link rel="stylesheet" href="nf-switch.css">
        <div id="wrapper">
            <content></content>
        </div>
    </template>

    <script>
        (function () {

            'use strict';

            Polymer({

                publish:{

                    switched: {
                        value: false,
                        reflect: true
                    }

                },

                ready: function(){
                    this.loadPreviousState();
                },

                loadPreviousState: function(){

                    if (!this.persist) {
                        return;
                    }

                    var previousSwitchState = window.localStorage.getItem(this.persist);

                    if (previousSwitchState !== null) {

                        if (previousSwitchState === "true") {
                            this.switched = true;
                        } else {
                            this.switched = false;
                        }

                    }

                },

                domReady: function () {

                    this.addEventHandlers();

                },

                addEventHandlers: function () {

                    var self = this;

                    this.addEventListener('click', function () {
                        self.switched = !self.switched;
                    }, false);

                },

                switchedChanged: function (oldValue, newValue) {

                    if (newValue) {
                        this.$.wrapper.classList.add('is-switched');
                    } else {
                        this.$.wrapper.classList.remove('is-switched');
                    }

                    if (this.persist) {
                        window.localStorage.setItem(this.persist, newValue);
                    }

                    this.fire('switched', {switched: newValue});

                }

            });

        })();
    </script>

</polymer-element>
