:host {
    display: inline-block;
    position: relative;
    margin: 7px;
}

#input.search {
    padding-left: 30px;
    padding-right: 25px;
}

#input.search ~ #search {
    display: inline-block;
}

#input.clear ~ #clear {
    display: inline-block;
}

#search {
    display: none;
    position: absolute;
    top: 8px;
    left: 8px;
}

#clear {
    display: none;
    position: absolute;
    top: 8px;
    right: 5px;
}

#input {

    margin: 0;
    width: 100%;

    /* style from reboot */
    vertical-align: top;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #6A6A6A;
    font: inherit;
}

#loadingIcon {
    position: absolute;
    top: 6px;
    left: 5px;
    display: none;
}

:host(.is-loading) #loadingIcon,
:host([loading]) #loadingIcon {
    display: inline-block;
}

:host(.is-loading) #search,
:host([loading]) #search {
    display: none !important;
}