<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../nf-iconset/nf-iconset.html" />

<script src="../../js/multiSelect.js"></script>
<script src="../../js/keyboard.js"></script>
<script src="../../js/sync.js"></script>
<script src="../../js/asyncNode.js"></script>

<polymer-element name="nf-input"  attributes="value, for, search, clear, link, placeholder, autohide, copy, disabled">

    <template>

        <link rel="stylesheet" href="nf-input.css">
        <input id="input" value="{{value}}" class="{{ {search: extras.search, clear: extras.clear} | tokenList}}" placeholder="{{placeholder}}" disabled?="{{disabled}}"/>
        <img id="loadingIcon" src="../../img/loading-white.gif" width="18" height="18" />
        <nf-icon id="search" name="search"></nf-icon>
        <nf-icon id="clear" name="close" class="is-button"></nf-icon>

    </template>

    <script>

        (function () {

            'use strict';

            var keyEnter = 13,
                keyEsc = 27;

            Polymer({

                domReady: function() {

                    this.init();

                },

                disabled: false,

                extras: {},

                searchChanged: function() {

                    if (typeof this.search !== 'undefined') {
                        this.extras.search = true;
                    }

                },

                clearChanged: function() {

                    if (typeof this.clear !== 'undefined') {
                        this.extras.clear = true;
                    }

                },

                autohideChanged: function() {

                    if (typeof this.autohide !== 'undefined') {
                        this.extras.autohide = true;
                    }

                },

                copyChanged: function() {

                    if (typeof this.copy !== 'undefined') {
                        this.extras.copy = true;
                    }

                },

                processOptions: function() {

                    var self = this;

                    if (typeof this.link !== 'undefined') {

                        this.search = true;
                        this.clear = true;

                        nf.asyncNode.get(this.link).then(function(node) {

                            self.select = node;
                            nf.keyboard.bindInputSelect(self.$.input, self.select);
                            self.addEventHandlers();

                        }, function(e) {

                            console.error(e);

                        });

                    } else {

                        this.addEventHandlers();

                    }

                },

                init: function() {

                    var self = this;

                    nf.asyncNode.get(this.for, 'input').then(function(node) {

                        self.proxy = node;
                        self.processOptions();

                    }, function(e) {

                        console.error(e);

                    });

                },

                addEventHandlers: function () {

                    var self = this;

                    nf.sync.sync(this.$.input, this.proxy, null, true);

                    this.$.clear.addEventListener('click', function() {

                        var changeEvent = new Event('change', {bubbles: true});

                        self.$.input.value = '';
                        self.$.input.dispatchEvent(changeEvent);

                        if (self.select) {
                            nf.multiSelect.clearSelectedOptions(self.select);
                        }

                    }, false);

                    if (this.select) {

                        this.select.addEventListener('keyup', function(e) {

                            var change;

                            if (e.keyCode === keyEnter) {

                                change = new Event('change', {bubbles: true});

                                if (self.extras.copy) {

                                    self.$.input.value = this.value;
                                    self.$.input.dispatchEvent(change);

                                }

                            }

                        }, false);

                    }

                    if (this.select && this.extras.autohide) {

                        this.$.input.addEventListener('keyup', function(e) {

                            if (e.keyCode === keyEsc) {
                                self.select.classList.add('is-hidden');
                            } else {
                                self.select.classList.remove('is-hidden');
                            }

                        }, false);

                        this.addEventListener('focus', function() {

                            if (self.select && self.select.options.length) {
                                this.select.classList.remove('is-hidden');
                            }

                        }, false);

                        this.addEventListener('blur', function() {

                            this.select.classList.add('is-hidden');

                        }, false);

                        this.select.addEventListener('focus', function() {

                            this.classList.remove('is-hidden');

                        }, false);

                        this.select.addEventListener('blur', function() {

                            this.classList.add('is-hidden');

                        }, false);

                        this.select.addEventListener('keyup', function(e) {

                            if (e.keyCode === keyEnter) {
                                this.classList.add('is-hidden');
                            }

                        },false)

                    }

                }


            });

        })();
    </script>

</polymer-element>
