<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../nf-iconset/nf-iconset.html" />

<polymer-element name="nf-autosuggest" attributes="placeholder, disabled, suggestions, maxSize, input" >

    <template>
        <link rel="stylesheet" href="nf-autosuggest.css" />
        <input id="search" placeholder="{{placeholder}}" disabled?={{disabled}} autocomplete="off">
        <nf-icon name="close" id="clear" class="is-button"></nf-icon>
        <img id="loadingIcon" src="../../img/loading-white.gif" width="20" height="20"/>
        <select id="filteredSelect" multiple disabled?={{disabled}} >
            <option id="selectOptions" template repeat="{{option in filteredSuggestions}}" value="{{option}}">{{option}}</option>
        </select>
    </template>

    <script>
        (function () {

            'use strict';

            var keyDownCode = 40,
                keyUpCode = 38,
                keyCtrl = 17,
                keyFCode = 70,
                keyEnterCode = 13;

            Polymer({

                disabled: false,
                placeholder: '',
                suggestions: [],

                domReady: function () {

                    this.select = this.$.filteredSelect;
                    this.timeoutId = 0;
                    this.maxSize = 8;
                    this.init();

                },

                search: function(skipClear) {

                    var filteredSuggestions = [],
                        self = this;

                    if (!skipClear) {
                        this.clearAllCurrentSelections();
                    }

                    if (this.suggestions &&
                        this.suggestions instanceof Array &&
                        this.suggestions.length) {

                        this.suggestions.forEach(function(suggestion) {

                            if ( self.matchTest(suggestion, self.query) ) {

                                filteredSuggestions.push(suggestion);

                            } else if (suggestion.selected) {

                                suggestion.selected = false;

                            }

                        });

                    }

                    this.filteredSuggestions = filteredSuggestions;
                    this.adjustSelectSize(filteredSuggestions.length);

                },

                adjustSelectSize: function(size) {
                    var maxSize = this.maxSize;
                    this.select.setAttribute('size', Math.min(maxSize,size) );
                },

                matchTest: function(item, query) {

                    var match = false;

                    if (item.toLowerCase().indexOf(query) !== -1) {
                        match = true;
                    }

                    return match;

                },

                getQuery: function() {

                    return this.$.search.value.trim().toLowerCase();

                },

                getInput: function() {

                    var self = this,
                        node = document.getElementById(this.input);

                    if (node) {

                        this.inputNode = node;

                    } else {

                        // trying again as input is not yet available
                        window.setTimeout(function() {
                            self.getInput();
                        }, 300);

                    }
                },

                init: function() {

                    this.getInput();
                    this.filteredSuggestions = this.suggestions;
                    this.adjustSelectSize(this.filteredSuggestions.length);

                    if ( this.getQuery() ) {

                        this.search(true);

                    }

                    if ( !this.runOnlyOnceGuard ) {

                        this.runOnlyOnceGuard = true;

                        this.addEventHandlers();

                        this.classList.add('is-ready');

                    }

                },

                clearAllCurrentSelections: function() {

                    while(this.select.selectedOptions.length){
                        this.select.selectedOptions[0].selected = false;
                    }

                },

                fireSelectChange: function() {
                    var changeEvent = new Event('change');
                    this.select.dispatchEvent( changeEvent );
                },

                updateValue: function(val) {

                    var changeEvent = new Event('change');
                    this.$.search.value = val;
                    this.value = val;

                    if (this.inputNode) {
                        this.inputNode.value = val;
                        this.inputNode.dispatchEvent( changeEvent );
                    }

                },

                suggestionsChanged: function() {

                    // ensuring that domReady has run
                    if (this.select) {
                        this.convertSuggestionsToArrayIfRequired();
                        this.init();
                    }

                },

                convertSuggestionsToArrayIfRequired: function(onConvertionCallback) {

                    if (typeof this.suggestions === 'string') {

                        try {

                            this.suggestions = JSON.parse(this.suggestions);
                            onConvertionCallback && onConvertionCallback();

                        } catch(e) {

                            console.error('Error parsing suggestions attribute in nf-autosuggest:', e);

                        }

                    }

                },

                addEventHandlers: function () {

                    var delay = 270,
                        self = this;

                    var searchChangeCallback = function(e) {

                        window.clearTimeout(self.timeoutId);

                        self.timeoutId = window.setTimeout(function() {

                            window.setTimeout(function() {

                                if (self.returnCheck) {
                                    self.returnCheck = false;
                                } else {
                                    self.classList.add('is-focused');
                                }

                            }, 0);

                            self.query = self.getQuery();
                            self.fire('querychanged', {query: self.query});
                            self.search();

                        }, delay);

                        if (e.keyCode === keyCtrl ||
                            e.keyCode === keyDownCode ||
                            e.keyCode === keyUpCode ) {
                            window.clearTimeout(self.timeoutId);
                        }

                        if (e.keyCode === keyDownCode) {

                            self.select.focus();

                            if (self.select.selectedIndex === -1 && self.select.options.length) {
                                self.select.options[0].selected = true;
                                self.fireSelectChange();
                            }

                        }

                    };

                    this.$.search.addEventListener('keyup', searchChangeCallback, false);

                    this.$.search.addEventListener('change', function() {
                        self.updateValue(this.value);
                    }, false);

                    this.addEventListener('focus', function() {

                        self.convertSuggestionsToArrayIfRequired( self.init );

                        window.setTimeout(function() {
                            self.classList.add('is-focused');
                        }, 0);
                    }, false);

                    this.addEventListener('blur', function() {
                        window.setTimeout(function() {
                            self.classList.remove('is-focused');
                        }, 0);
                    }, false);

                    this.select.addEventListener('focus', function() {
                        window.setTimeout(function() {
                            self.classList.add('is-focused');
                        }, 0);
                    }, false);

                    this.select.addEventListener('blur', function() {
                        window.setTimeout(function() {
                            self.classList.remove('is-focused');
                        }, 0);
                    }, false);

                    this.select.addEventListener('keydown', function(e) {

                        if (!e.shiftKey && e.keyCode === keyUpCode && this.selectedIndex === 0) {

                            self.$.search.focus();

                            if (self.select.options.length) {

                                // need the setTimeout in order to remove the select
                                window.setTimeout(function() {
                                    self.select.options[0].selected = false;
                                }, 0);

                            }

                        }

                        if (e.keyCode === keyEnterCode) {
                            self.returnCheck = true;
                            self.$.search.focus();
                        }

                    }, false);

                    this.select.addEventListener('keyup', function(e) {

                        if (e.ctrlKey && e.keyCode === keyFCode) {

                            self.$.search.focus();

                        }

                    }, false);

                    this.select.addEventListener('change', function(e) {

                        self.updateValue(this.value);

                    }, false);

                    this.$.clear.addEventListener('click', function() {

                        while(self.select.selectedOptions.length) {
                            self.select.selectedOptions[0].selected = false;
                        }

                        self.updateValue('');
                        self.query = '';
                        self.fire('querychanged', {query: self.query});
                        self.search();
                        self.$.search.focus();

                    }, false);

                }

            });

        })();
    </script>

</polymer-element>
