/*! badges
-----------------------------*/
@require 'placeholders/badge';

badge,
.nf-badge {
  @extend $badge
}

badge[ok],
badge.badge-ok,
.nf-badge.badge-ok,
.nf-badge[ok] {
  @extend $skin-success
}

badge[failed],
badge.badge-failed,
.nf-badge.badge-failed,
.nf-badge[failed] {
  @extend $skin-error
}

badge[marginal],
badge.badge-marginal,
.nf-badge.badge-marginal,
.nf-badge[marginal] {
  @extend $skin-caution
}