/*! grids
-----------------------------*/
.nf-grid {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.nf-1,
.nf-2,
.nf-3,
.nf-4,
.nf-5,
.nf-6,
.nf-7,
.nf-8,
.nf-9,
.nf-10,
.nf-11,
.nf-12,
.nf-13,
.nf-14,
.nf-15,
.nf-16 {
  display: inline-block;
  box-sizing: border-box;
}

.nf-1 {
  width: 6.25%;
}

.nf-2 {
  width: 12.5%;
}

.nf-3 {
  width: 18.75%;
}

.nf-4 {
  width: 25%;
}

.nf-5 {
  width: 31.25%;
}

.nf-6 {
  width: 37.5%;
}

.nf-7 {
  width: 43.75%;
}

.nf-8 {
  width: 50%;
}

.nf-9 {
  width: 56.25%;
}

.nf-10 {
  width: 62.5%;
}

.nf-11 {
  width: 68.75%;
}

.nf-12 {
  width: 75%;
}

.nf-13 {
  width: 81.25%;
}

.nf-14 {
  width: 87.5%;
}

.nf-15 {
  width: 93.75%;
}

.nf-16 {
  width: 100%;
}


.nf-grid-centered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nf-grid-centered > * {
  display: flex;
}

.nf-grid-centered > * > * {
  text-align: center;
  margin: auto;
}