/*! header
-----------------------------*/
main > header,
.nf-header {
  border-bottom: 1px solid #c4c4c4;
  text-align: left;
  margin-bottom: 30px;
}

main > header h1,
.nf-header  h1 {
  margin-right: 20px;
  display: inline-block;
}