/*! table
-----------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: none
}

td,
th {
  border-bottom: 1px solid #ccc;
  border-width: 0 0 1px 0;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding: 0.8em 1em;
}

th {
  font-weight: 600;
}

td {
  word-break: break-all;
}

td:first-child,
th:first-child {
  border-left-width: 0;
}

tr:last-child td {
  border-bottom: none;
}

thead {
  background: transparent;
  color: #333;
  font-weight: 600;
  text-align: left;
  vertical-align: bottom;
}

td {
  background-color: transparent;
}

.is-odd td {
  background-color: #F1F1F1;
}

.is-striped tr:nth-child(odd) td {
  background-color: #F1F1F1;
}

/*! dd
-----------------------------*/
dt {
  font-weight: bold;
  text-align: right;
  box-sizing: border-box;
  width: 25%;
  margin-right: 10px;
  float: left;
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dd {
  margin-left: calc(25% + 10px);
}

dt, dd {
  margin-bottom : 10px;
}