/*! normalizing default styles
-----------------------------*/
b,
strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/*! headers & font sizes
-----------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  margin: 0 0 10px 0;
}

h1, .h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 28px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 16px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 12px;
}


/*! font weights
-----------------------------*/
.nf-light {
  font-weight: 300;
}

.nf-normal {
  font-weight: 400;
}

.nf-bold {
  font-weight: 600;
}


/*! text align options
-----------------------------*/
.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-center,
.txt-centre {
  text-align: center;
}