/*! utilities
-----------------------------*/
.nf-right {
  float: right;
}

.nf-left {
  float: left;
}

.nf-inline {
  display: inline;
}

.nf-clickable {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.isHidden,
.is-hidden,
[hidden] {
  display: none !important;
}