<!doctype html>
<html>
<head>
    <title>nf-lightbox demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="nf-lightbox.html" />
    <style>
        html,body{
            height:3000px;
        }

        textarea {
            width: 100%
        }

        .nf-right {
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        }

    </style>

</head>
<body unresolved>
    <h1>This is a test</h1>
    <button>Show me the Lightbox</button>
    <p>Note: The cancel button is using the class nf-lightbox-close, so clicking on it will close the lightbox</p>
    <nf-lightbox width="500">
        <h2>Test Rollup Config</h2>
        <h4 class="nf-light">Policy</h4>
        <textarea  rows="15"></textarea>
        <button class="nf-right nf-lightbox-close">Cancel</button>
        <button class="nf-right btn-primary">Apply</button>
    </nf-lightbox>
<script>

    var l = document.querySelector('nf-lightbox'),
        button = document.querySelector('button');

    button.addEventListener('click', function() {
        l.showLightbox();
    }, false);

</script>
</body>