:host {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
}

:host(.is-visible) {
    display: inline-block;
    margin: 0 auto;
}

#contentWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    overflow: auto;
    max-height: calc(100% - 60px);
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
}
