<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../nf-iconset/nf-iconset.html" />

<polymer-element name="nf-lightbox" attributes="state, width">

    <template>
        <link rel="stylesheet" href="nf-lightbox.css" />
        <div id="contentWrapper">
            <content></content>
            <nf-icon id="close" name="close" class="is-button"></nf-icon>
        </div>
    </template>

    <script>
        (function () {

            'use strict';

            var escKeyCode = 27,
                closeLightboxClass = 'nf-lightbox-close';

            Polymer({

                publish: {
                    state: 'hidden',
                    reflect: true
                },

                widthChanged: function() {
                    this.$.contentWrapper.style.width = this.width + 'px';
                },

                hideLightbox: function() {
                    this.classList.remove('is-visible');
                },

                addEventHandlers: function() {

                    var self = this;

                    document.body.addEventListener('keydown', function(e) {
                        if (e.keyCode === escKeyCode) {
                            self.hideLightbox();
                        }
                    },false);

                    this.$.contentWrapper.addEventListener('click', function(e) {

                        e.stopPropagation();

                        if ( e.target.classList.contains(closeLightboxClass) ) {
                            self.hideLightbox();
                        }

                    });

                    this.addEventListener('click', function(e) {
                        self.hideLightbox();
                    },false);

                    this.$.close.addEventListener('click', function() {
                        self.hideLightbox();
                    },false);


                },

                removeEventHandlers: function(){

                },

                showLightbox: function() {

                    this.classList.add('is-visible');
                    this.addEventHandlers();

                },

                stateChanged: function(oldVal, newVal) {

                    if (newVal === 'hidden') {
                        this.hideLightbox();
                    } else {
                        this.showLightbox();
                    }

                }

            });

        })();
    </script>

</polymer-element>