:host {
    display: inline-block;
}

label {
    margin: 0.5em 0.5em 0.2em 0;
    cursor: pointer;
}

/* input
-----------------------------*/
input[type="checkbox"]:focus {
    outline: 1px auto #129FEA;
}

input[type="checkbox"] {
    margin: 0.5em 0;
    display: inline-block;
}

input[readonly] {
    background: #eee;
    color: #777;
    border-color: #D9D9D9;
}
