/* layout placeholders
-----------------------------*/
$flex-absolute-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
}