/* skin placeholders
-----------------------------*/
@require '../scales/color';

$skin-default {
  background: $white;
  color: $gray;
}

$skin-classic {
  background: $gray5;
  color: $gray;
}

$skin-primary {
  background: $blue;
  color: $white;
}

$skin-success {
  background: $green;
  color: $white;
}

$skin-caution {
  background: $yellow;
  color: $white;
}

$skin-error {
  background: $red;
  color: $white;
}