:host {
    overflow: hidden;
}

:host(.no-transitions) {
    position: static;
}

:host(.no-transitions) ::content > * {
    display: none;
    position: static;
}

:host(.no-transitions) ::content > .core-selected {
    display: block;
}