<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html" />

<polymer-element name="nf-pages" extends="core-animated-pages">

    <template>
        <link rel="stylesheet" href="nf-pages.css" />
        <shadow></shadow>
    </template>

    <script>
        (function () {

            //'use strict'; can't use it due to this.super();

            Polymer({

                domReady:function() {

                    if (getComputedStyle(this).height === '0px') {
                        this.classList.add('no-transitions');
                        this.transitions = '';
                    }

                    this.super();

                }
            });

        })();
    </script>

</polymer-element>
