<!doctype html>
<html>
<head>
    <title>nf-collapsable-table demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="nf-collapsable-table.html" />
</head>
<body unresolved>
<nf-collapsable-table opened="false" highlighted="2">

    <cthead>
        <c num>Group Name</c>
        <c>metrics</c>
        <c>% Off</c>
        <c>Score</c>
    </cthead>

    <ctbody>

        <row>
            <rhead>
                <c>0</c>
                <c>z</c>
                <c>c</c>
                <c>d</c>
            </rhead>
            <rbody>
                <row>
                    <c>1</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>2</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>3</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>4</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
            </rbody>
        </row>

        <row>
            <rhead>
                <c>5</c>
                <c>b</c>
                <c>cadsfasdfdsfadfdasfasdfasdfasdf</c>
                <c>d</c>
            </rhead>
            <rbody>
                <row>
                    <c>6</c>
                    <c>asdf</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>7</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>8</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>9</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
            </rbody>
        </row>

        <row>
            <rhead>
                <c>10</c>
                <c>a</c>
                <c>A</c>
                <c>d</c>
            </rhead>
            <rbody>
                <row>
                    <c>11</c>
                    <c>5</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>12</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>13</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
                <row>
                    <c>14</c>
                    <c>4</c>
                    <c>0%</c>
                    <c>100%</c>
                </row>
            </rbody>
        </row>

    </ctbody>

</nf-collapsable-table>
</body>
</html>