<!doctype html>
<html>
<head>
    <title>nf-json demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/imports.html" />
    <link rel="import" href="nf-json.html" />
</head>
<body unresolved>
    <h1>Example of editable REST endpoint</h1>
    <nf-json url="https://tregoning.couchappy.com/data/71dd186e8b0a919ec3eba264520034ee" updatable></nf-json>

    <h1>Example inline prety JSON</h1>
    <nf-json>
        {
        "a": "hello there",
        "b": [1,2,3,4,5],
        "c": {
        "z": "abcdefg",
        "y": 789.23
        },
        "d": "last one"
        }
    </nf-json>
</body>
</html>