<link rel="import" href="../bower_components/polymer/polymer.html" />

<polymer-element name="nf-data" attributes="type">

    <script>
        (function () {

            'use strict';

            var cloneData = function(data) {
                return JSON.parse( JSON.stringify(data) );
            };

            Polymer({

                publish: {

                    type: {
                        value: 'table', //default data type
                        reflect: true
                    }

                },

                row: function(index) {
                    return this.filteredData[index];
                },

                init: function(_data) {

                    this.initialised = true;
                    this.data = [];
                    this.filteredData = [];
                    this.filterStack = [];
                    this.paginateFunction = this.paginateFunction || this.defaultPaginateFunction;

                    if (Array.isArray(_data)) {
                        this.data = _data;
                        this.filterData();
                    }

                },

                setData: function(_data) {
                    if (Array.isArray(_data)) {
                        this.data = _data;
                        this.filterData();
                    }
                },

                each: function(callback) {

                    this.filteredData.forEach(callback);

                },

                addFilter: function(nfFilter) {

                    if (nfFilter &&
                        nfFilter.type &&
                        nfFilter.type === this.type &&
                        this.filterStack.indexOf(nfFilter) === -1) {

                        this.filterStack.push(nfFilter);
                        //unsure of whether I should .filterData() as soon as filter is added or not

                    }

                },

                defaultPaginateFunction: function(filteredData) {
                    //default is no pagination
                    return filteredData;
                },

                setPagination: function(nfPagination) {

                    this.nfPagination = nfPagination;
                    this.paginateFunction = nfPagination.paginateFunction.bind(nfPagination);
                    this.updatePagination();

                },

                resetPagination: function() {

                    if (this.nfPagination) {
                        this.nfPagination.reset();
                    }

                },

                updatePagination: function() {
                    this.fire('filtereddatachanged');
                },

                clearPagination: function() {
                    this.paginateFunction = this.defaultPaginateFunction;
                    this.updatePagination();
                },

                getPaginatedData: function() {
                    // todo: possible optimisation somehow do not render until paginate function is set
                    // (if we know we are going to paginate in advance)
                    return this.paginateFunction(this.filteredData);
                },

                removeFilter: function(nfFilter) {

                    var index = this.filterStack.indexOf(nfFilter);

                    if (index !== -1) {
                        this.filterStack.splice(index, 1);
                        this.filterData();
                    }

                },

                clear: function() {
                    this.init([]);
                },

                sort: function(sortFunction) {

                    this.resetPagination();
                    this.filteredData.sort(sortFunction);
                    this.fire('filtereddatachanged');

                },


                updateFilter: function(nfFilter) {

                    if (this.filterStack.indexOf(nfFilter) !== -1) {

                        this.filterData();

                    }

                },

                filterData: function() {

                    var self = this;

                    this.filteredData = cloneData(this.data);

                    this.filterStack.forEach(function(nfFilter) {
                        if (nfFilter.query !== null) {
                            self.filteredData = nfFilter.filter(self.filteredData);
                        }
                    });

                    this.resetPagination();

                    this.fire('filtereddatachanged');

                }

            });

        })();
    </script>

</polymer-element>
